@import '../variables/colors.scss';

.card {
    position: relative;
    border-radius: 8px;
    margin-bottom: 38px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width:1280px) {
            display: grid;
            grid-template-columns: 3fr 1fr;

        }

    }

    &__wrapperCards {
        flex-direction: column;
        display: flex;
        gap: 24px;

        @media screen and (min-width:834px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__image {
        aspect-ratio: 16 / 9;
        border-radius: 8px;
        width: 100%;

        @media screen and (min-width:834px) {
            aspect-ratio: 1/1;
        }
    }

    &__figcaption {
        display: flex;
        flex-direction: column;
        gap: 4px;


        &__category {
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-size: 14px;
            color: $category;
        }

        &__name {
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 16px;
            color: $dessert-name;
            margin: unset;
        }

        &__price {
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: $price;
            font-size: 16px;
        }
    }

    &__button {
        border-radius: 999px;
        display: flex;
        align-items: center;
        padding: 12px;
        border: 1px solid $button-outline;
        gap: 8px;
        box-sizing: border-box;
        width: 160px;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        left: calc(50% - 80px);
        bottom: -22px;
        transition: color .3s, border .3s, transform .3s;

        &:hover {
            color: $price;
            border: 1px solid $price;
            transform: translateY(-5px);

        }

        &__icon {
            width: 20px;
            height: 20px;

        }

        &__text {
            font-size: 14px;
            display: block;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &__validCount {
        background-color: $button-order;
        display: flex;
        justify-content: space-between;

        &__substract,
        &__add {
            width: 20px;
            height: 20px;

            &:hover svg path:last-child {
                fill: Red;
            }

            &:hover {
                background-color: #fff;
                border-radius: 50%;
            }
        }



        &:hover {
            transform: unset;
            color: unset;
        }

        &__count {
            color: $light;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

}