@import '../variables/colors.scss';
@import '../mixins/button.scss';

.cart {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;


    &__title {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $price;
        font-size: 24px;
        display: block;

    }

    &__emptyImage {
        align-self: center;
    }

    &__emptyDescription {
        color: $empty-cart-description;
        text-align: center;
        font-family: "Red Hat Text";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: unset;
    }

    &__fill {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__description {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__wrapperValue {
            display: flex;
            gap: 8px;
        }

        &__name {

            color: $product-name;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &__cost {
            &__unit {
                color: $unique-cost;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &__total {
                color: $total-total-modal;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

            }
        }

        &__times {
            color: $price;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &__item {
            display: flex;
            justify-content: space-between;
        }

        &__icon {

            &__remove {
                display: block;
                cursor: pointer;
                align-self: center;
            }
        }

        &__order {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        &__orderTotalText {
            color: $text-primary;
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
        }

        &__orderTotal {
            color: $text-primary;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__carbonMessage {
            background-color: $items-total-background;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 8px;

            &__carbonIcon {
                display: block;
            }
        }

        &__carbonText {
            color: $text-primary;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &--normal {
                color: $text-primary;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

        }

        &__button {
            @include button {
                transition: transform .3s;
            }

            &:hover {

                transform: translateY(-5px);
            }



        }
    }
}