$title-primary: #260F08;
$product-name:#260F08;
$text-primary:#260F08;
$button-outline: #AD8A85;
$category: #87635A;
$dessert-name: #87635A;
$empty-cart-description: #87635A;

$unique-cost:#87635A;
$price: #C73B0F;
$items-total-background: #FCF8F6;
$times-total-modal: #C73B0F;
$total-total-modal:#87635A;
$line-color:#F5EEEC;
$button-order:#C73B0F;
$light:#fff;