@import '../variables/colors.scss';

.itemTotal {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    &__image {
        aspect-ratio: 1/1;
        width: 48px;
        border-radius: 4px;
    }
    &__imageText{
        display:flex;
        gap:16px;
    }
    &__description {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;

        &__name {
            color: $title-primary;
            text-overflow: ellipsis;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &__value {
            display: flex;
            gap: 8px;

            &__times {
                color: $times-total-modal;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            &__total {
                color: $total-total-modal;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &__itemTotal {
            display: block;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: $title-primary;
        }
    }

}