@import '../variables/colors.scss';
@import '../mixins/button.scss';

.totalModal {
    padding: 40px 24px 24px 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: fixed;
    bottom: 0;
    height: 650px;
    background-color: #fff;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;

    &--background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.50);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width:834px) {
        max-width: 608px;
        height: 605px;
        left: 0;
        right: 0;
        bottom: calc(100vh / 2 - 305px);
        margin: 0 auto;
        border-radius: 12px;
    }

    @media screen and (min-width:1280px) {
        width: 592px;

    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__check {
        display: block;
        text-align: left;

    }

    &__regards {
        color: $empty-cart-description;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    &__totalItems {
        padding: 24px;
        background-color: $items-total-background;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__wrapperItems {
        max-height: 200px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-right: 12px;

        &::-webkit-scrollbar {

            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #C73B0F;
            border-radius: 20px;
        }


        &::-webkit-scrollbar:vertical {
            width: 5px;
        }



        ::-webkit-scrollbar-track {
            border-radius: 10px;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $line-color;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__orderText {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $title-primary;
        }

        &__totalNumber {

            color: $title-primary;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &__button {
        @include button {
            transition: transform .3s;
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}